<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content %}
<div class="content-wrapper">
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
    </head>


<div class="content-header">
<h1>Vidhya Ravichandran CV</h1>
</div>
<div class="content px-2">
<h2 id="quick-start">Career Objective</h2>
<p>As Python Developer having 9+ years of experience in Analytics, development and delivery of projects. Skilful in developing, optimizing and reworking systems to meet specific customer requirements with excellent problem-solving skills and attention to detail. Delivers a proactive approach, great work ethic, and the ability to function well in fast paced environments.</p>
<h3 id="download--changelog">Executive Summary</h3>
<p>•	Having 9.5 years of IT experience in Python Automation/ Backend Development.<br>
•	Having 3.7 years in Development of web Applications using Python/Django Framework. Created a Dashboard Application which is used to monitor the task of Security team.<br>
•	Having 2 years of experience in working in Pandas used for Analyzing, Cleaning and Manipulating the data.<br>
•	Worked on AWS and Azure Cloud services for CI/CD process familiar with EC2, Lambda and Azure Pipeline.<br>
•	REST API Developed using Python Flask.<br>

•	Created an Auto ticket creation modules which will create a ticket in JIRA/Service NOW based on action mail received on O365 service account mailbox. Created a Classification module which will analysis Data the natural language and predict the actionable mail using the data trained on the system.<br>
•	Having experience on various Domain such as Manufacturing, Securities, Telecom, Sales, Financial.<br>
•	Having hands on experience in MySQL, SQL and PostgreSQL queries.<br>
•	Having hands on experience on LINUX commands and Ubuntu/CentOS platform.<br>
•	Experience on scheduling Cron Jobs in Ubuntu/CentOS.<br>
•	Good at Agile Scrum working model.<br>
•	Good Working knowledge on Development, Data Analysis and maintenance life cycle process.<br>
•	Strong troubleshooting skills.<br>
</p>
<h2 id="stable-release">Technical Skills</h2>
<div class="card-body">
        <table class="table table-bordered">
                       <tbody>

            <tr>
                <td> Languages/Scripting</td>
                <td>Python (Flask, SQLAlchemy, Pandas, requests, Paramiko, NumPy, Psycopg2, Pypyodbc, Cx_Oracle)<br>PERL, HTML, Bootstrap, Selenium, PowerShell, Shell scripting, PowerBI</td>
            </tr>
              <tr>
                <td> Framework</td>
                <td>Django, Robot Framework, FlaskAPI</td>
            </tr>
                         <tr>
                <td> Database</td>
                <td>PostgreSQL, MySQL, SQL and MongoDB</td>
            </tr>
                         <tr>
                <td> Tools and IDEs</td>
                <td>Visual Studio, Eclipse, Atom</td>
            </tr>
<td> Version Control</td>
                <td>GitHub, SVN</td>
            </tr>
                       <td> Operating Systems</td>
                <td>	Windows Series, Ubuntu/CentOS Linux</td>
            </tr>
            </tbody>
            </head>
        </table>


<h2 id="stable-release">PROJECT #1#</h2>
Title	: Migrating legacy application to Python<br>
Client	: BlackRock (Financial)<br>
Skills	: Python, Pandas, Perl, C, SQL<br>
Duration	: 2021 Dec – 2022 Oct (8 months)<br>
Role	: Associate<br>
<b>Project Description:</b></br>
•	Migrated the legacy applications done in C, JAVA programming to python<br>
•	Generate the demand file for the customer on daily basis using the data stored on the SQL server.<br>
<b>Roles and Responsibilities:</b></br>
•	Analysis the existing application and create a requirement document.<br>
•	Used pymysql/ sqlalchemy modules to connect to the database and using Pandas module converted the data into the dataframe and cleaned the data as per customer request and manipulated the required data and generated the customer requested demand file in the csv file format.<br>
•	Create a design document for new process in python<br>
•	Develop the code and write test cases to validate all the functions. Create the PR to merge code from feature to develop branch<br>
•	Create application element and application packing in SRPT<br>
•	Create Pipeline and run pipeline to get the build in SRPT<br>
•	Deliver and activate the package in the pre-production environment<br>
•	Test the code in pre-production if everything is fine, create release packet and deploy the code in production<br>
•	Schedule the Nitejob to execute the script on daily bases.<br>



<h2 id="stable-release">PROJECT #2#</h2>
Title	: Developed Data Analysis Dashboards on Power BI</br>
Client	: HP (Sales)</br>
Skills	: Python, PostgreSQL, SQL, Visual studio</br>
Duration	: 2021 Jun - 2021 Dec (6 months)</br>
Role	: Technical lead</br>
<b>Project Description:</b></br>
•	Create a Power BI Dashboard for Finance Fallouts Analysis.<br>
•	Create a Dashboard for Partner Anomaly calculations.<br>
•	Create a Dashboards to monitor important KPI’s in large data sets<br>
<b>Roles and Responsibilities:</b></br>
•	Build the Dashboard in Power BI based on the customer requirement.<br>
•	Created a KPI’s and trends for more visualization.<br>
•	Created a python script to fetch the information from the shared drive and SharePoint and updated the data into the SQL driver.<br>
•	Schedule the python scripts in Crontab to refresh the source data from shared drives<br>
•	Visualized the data in Power BI.<br>

<h2 id="stable-release">PROJECT #3#</h2>
Title	: ETL jobs Migration<br>
Client	: HP (Sales)<br>
Skills	: Python, Pandas, PostgreSQL, SQL, Visual studio<br>
Duration	: 2021 Jan - 2021 Jun (6 months)<br>
Role	: Technical lead<br>
<b>Project Description:</b></br>
•	Migrate SQL stored procedure and data to AWS PostgreSQL.<br>
•	Migrate the SSIS packages of Visual studio to Python Automation.<br>
•	Migrate the scheduled jobs of SQL to Linux cron jobs<br>
<b>Roles and Responsibilities:</b></br>
•	Involved in complete development cycle as per the business requirements.<br>
•	Involved in Requirement Analysis, Coding, and Integrations.<br>
•	Lead the 2 members’ team.<br>
•	Uploaded the data into PostgreSQL tables from csv, text, json and xml files of different client partner data’s<br>
•	Used Pandas modules for data analysis, Manipulating and cleaning the data.<br>
•	Convert the SSIS package to Python Scripting and schedule the jobs in Cron<br>


<h2 id="stable-release">PROJECT #4#</h2>
Title	: Developed Monitoring tool/Automation<br>
Client	: Comcast (Securities)<br>
Skills	: Python, MySQL, Django, Linux, Flask, HTML, Classifier AI.<br>
Duration                  	: 2017 Jan – 2020 Dec (4 years)<br>
Role
	: Developer /Automation Engineer /individual contributor<br>

<b>Project Description:</b></br>
•	As part of Centre of Excellent (COE) team need to interact with all Tower leads in Comcast Securities and Analysis their work and identify areas to be automate and reduce the manual efforts.<br>
<b>Roles and Responsibilities:</b></br>
•	Created a Common platform to take the report of different Towers using python Django framework and so it’s helped to reduce the time of generating weekly and monthly report.<br>
•	Created Trends to analysis the performance of teams based on ticket count they resolved.<br>
•	Worked in Echarts, Chart Js, NVD3, Morris Chart with Django for Data visualization<br>
•	Created automation to reduce the manual efforts in various tasks such as excel related consolidation, ticket creation, Assignment of tickets.<br>
•	Created a Classifier bot to classify the actionable mail received on O365 mailbox and create ticket for actionable mails.<br>
•	Documentation of everything once development done.<br>

<h2 id="stable-release">PROJECT #5#</h2>
Title	: Automate the set top box usecase using Witbe tool<br>
Client	: EchoStar (Telecom)<br>
Skills	: Python, Witbe tool.<br>
Duration	: 2016 Jun – 2017 Dec (6 months)<br>
Role
	: Automation Engineer<br>

<b>Project Description:</b></br>
•	Setup the Witbe lab and automated the use cases of various sceneries in set top box.<br>
<b>Roles and Responsibilities:</b></br>
•	Involved in setup of Witbe lab by connecting the server & client and connect the setup with the Witbe tool.<br>
•	By connecting the server machine we can able to automate the remote control the setup box.<br>
•	Automated the uses cases using the Witbe software and schedule the use cases in that same tool.<br>





<h2 id="stable-release">PROJECT #6#</h2>
Title	: Functionality web Application Testing<br>
Skills	: Python, Perl, Selenium and Robot Framework<br>
Client	: HP (Manufacturing)<br>
Duration	:  2013 Mar – 2015 Oct (2.5 years)<br>
Operating System	: Ubuntu<br>
Role
	: Tester/Automation Engineer.<br>

<b>Project Description:</b></br>
•	Automated the web Application using API via python, Perl and selenium.<br>
•	Testing the Functionality of the web application<br>
<b>Roles and Responsibilities:</b></br>
•	Involved in Requirement Analysis, Design and Coding.<br>
•	Automated the test cases using python API.<br>
•	Tested the functionality of the application and raise defect in case of any bug.<br>
•	Scheduled the test cases in regression testing in HP ALM.<br>
•	Creating RCA (Root Cause Analysis) Documentation.<br>
Educational Qualification:
•	B.E (Electronics and Instrumentation Engineering) from M.Kumarasamy college of Engineering Karur in the year 2012 with aggregation of 8.3 CGPA<br>

<b>Certification:</b></br>
•	AWS Certified Solutions Architect - Associate<br>

</div>



</div>
{% endblock %}
</html>
</html>